<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0-beta1/dist/css/bootstrap.min.css" rel="stylesheet"
          integrity="sha384-0evHe/X+R7YkIZDRvuzKMRqM+OrBnVFBL6DOitfPri4tjfHxaWutUpFmBp4vmVor" crossorigin="anonymous">
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0-beta1/dist/js/bootstrap.bundle.min.js"
            integrity="sha384-pprn3073KE6tl6bjs2QrFaJGz5/SUsLqktiwsUTF55Jfv3qYSDhgCecCxMW52nD2"
            crossorigin="anonymous"></script>
    <link rel="stylesheet" href="http://127.0.0.1:8887/templates/css/base/base_main_page_coach.css" type="text/css"/>
    <script src="http://127.0.0.1:8887/templates/javascript/main.js"></script>
    <title>{{ title }}</title>
</head>
<body>
<header>
    <nav class="navbar bg-light">
        <div class="container-fluid">
            <h6>{{ page_title }}</h6>
            <button class="navbar-toggler" type="button" data-bs-toggle="offcanvas" data-bs-target="#offcanvasNavbar"
                    aria-controls="offcanvasNavbar">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="offcanvas offcanvas-end" tabindex="-1" id="offcanvasNavbar"
                 aria-labelledby="offcanvasNavbarLabel">
                <div class="offcanvas-header">
                    <h5 class="offcanvas-title" id="offcanvasNavbarLabel">Меню</h5>
                    <button type="button" class="btn-close" data-bs-dismiss="offcanvas" aria-label="Закрыть"></button>
                </div>
                <div class="offcanvas-body">
                    <ul class="navbar-nav justify-content-end flex-grow-1 pe-3">
                        <li class="nav-item">
                            <a class="nav-link" aria-current="page" href="/main_page_coach">Главная</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="/settings_coach">Настройки</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="/clients">Клиенты</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="#">Тренировки</a>
                        </li>
                        <li class="nav-item" id="button_logout">
                            <a class="nav-link" href="/logout">Выйти</a>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
    </nav>
</header>
{% block content %}
{% endblock %}
</body>
</html>