<!doctype html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0-beta1/dist/css/bootstrap.min.css" rel="stylesheet"
          integrity="sha384-0evHe/X+R7YkIZDRvuzKMRqM+OrBnVFBL6DOitfPri4tjfHxaWutUpFmBp4vmVor" crossorigin="anonymous">
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0-beta1/dist/js/bootstrap.bundle.min.js"
            integrity="sha384-pprn3073KE6tl6bjs2QrFaJGz5/SUsLqktiwsUTF55Jfv3qYSDhgCecCxMW52nD2"
            crossorigin="anonymous"></script>
    <link rel="stylesheet" href="http://127.0.0.1:8887/templates/css/base/base_authorisation.css" type="text/css"/>
    <title>{{ title }}</title>
</head>

<header>
    <nav class="navbar bg-light">
        <p></p>
        <p>
            <a id="href_register" href="/choose_role" class="btn btn-primary">Зарегистрироваться</a>
            <a id="href_login" href="/login" class="btn btn-success">Войти</a>
        </p>
    </nav>
</header>
<!-- Begin page content -->
<main>
    {% block content %}{% endblock %}
</main>
</body>
</html>