{% extends "html/base/base_authorisation.html" %}

{% block content %}
    <h1>Вы не авторизованы</h1>
    <div id="infocards_all">
        <div class="card" style="width: 18rem;" id="infocard_01">
            <div class="card-body">
                <h5 class="card-title">Название карточки</h5>
                <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's
                    content.</p>
            </div>
        </div>
        <div class="card" style="width: 18rem;" id="infocard_02">
            <div class="card-body">
                <h5 class="card-title">Название карточки</h5>
                <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's
                    content.</p>
            </div>
        </div>
    </div>
{% endblock %}